<div class="articles container">

    {{#each articles}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a class="artLink" href={{link}}>{title}}</a>{</h3>
      </div>
      <div class="panel-body">
        <p>{{snippet}}</p>
        <button data-id={{_id}} class="btn btn-danger pull-right save-article">Save Article</button>
      </div>
    </div>
    <br />
    <br />
    {{/each}}

</div>